@model List<MvcDemo.Models.Admin>
@{
    ViewData["Title"] = "Home Page";
}
<div style="margin: auto">
  <div class="text-center"   id="app"></div>
</div>

@section AdditionalJS{
    <input type="hidden" id="hidName" value='@ViewBag.UserName'></input>
    <script src="~/lib/jquery/dist/jquery.tmpl.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.boxlayer.js"></script>
    <script type="text/babel" src="~/js/table.js" asp-append-version="true"></script>
    <script type="text/babel" src="~/js/myreact.js" asp-append-version="true"></script>
    <script type="text/babel" language="javascript">
      var check = @ViewBag.IsLogin;
      if(check )
          loadUserInforByName($("#hidName").val());
      else
          beforeLogin();

        setInterval(tick, 1000);
    </script>

}